
body{
    font-family: sans-serif;
background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.important { color: white; }
.header-important { color: white; }
.header-most_important { color: BLACK; }
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #2C3E50;
    justify-content: space-between;
}

.logo{
    color: #FFF;
    font-weight: 900;
    text-shadow: 1px 1px #FFCC70;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}

nav ul li a:hover{
    color: #C850C0;
}

.cta{
    background-color: #4158D0;
    color: #FFF;
}

.cta:hover{
    background-color: #C850C0;
    color: #FFF;
}

.lambda{
    margin:auto;
    position:center;
    width: 70%;
    text-align: center;
    height: 100%;
}

.epsilon{
    margin:auto;
    width: 70%;
    text-align: center;
    max-width:30%;
    height:100%;
    justify-content: center;


}
.mega{
 
    height:1024px;

}
.filebutt{
    font-size: medium;
    color:#FFF;
}
.web-image{
    opacity: 70%;
    border-color: black;
    color:#FFF;
    display: block;
    justify-content: center;

}
.fact-image{
    border: 5px solid #555;

}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover {
    background: #eee;
    border-color: #111;
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
    
  }

  