{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}

    {{ super() }}

{% endblock %}
{% block content %}

    <div class = "epsilon">
        <h1 class = "header-important">About us</h1>
        <h2 class = "header-important">September 2022</h2>
        <h3 class = "header-important">Some perhaps old news</h3>
        <div class="web-image">
            <img class = "fact-image" src="{{ url_for('static', filename='images/Unknown.jpg') }}" alt="Italian condenser machine"  width="90%">
        </div>
        <p class="important">
            The term "flour" for wheat has been around a lot longer than bread, and is a more general term, meaning not only wheat (e.g. semolina), but also other grains as well. There is even a "flour" meaning cornmeal or other grains, and that is sometimes also called "meal" or "mash" as well.
            In the time of the Pilgrims, for instance, one often read "three-quarters of a pint of meal" or "a quart of meal" in recipes that were clearly talking about cornmeal or oatmeal, even though we have no "quart" of oats (it's actually closer to "two quarts" - but that's still smaller than a pint).
            So, to answer your question, "flour" was the most common word used in recipes (and that word is used still today, although, of course, "meal" would be more appropriate in the 19th century and "flour" is still used in recipes for cake, cookies, and the like). It would be very odd to use "meal" today in most baked goods recipes, as that would mean either that the recipes were written before the invention of "flour" as the common term for cornmeal or oats, or else that there is a whole new meaning of "meal" that only refers to oats.
            (To add an anecdotal example to this, I have been involved in some research on the effect of various amounts of meal in bread-type baked goods. Our team would go to the library and look for recipes from the 1880s and 1890s that were "old-fashioned" and were using a lot of meal. I tried to write some of the recipes to get the exact amounts of flour, and was always amazed by how often I could not figure out how to adjust for that extra meal. I ended up having to write my own formulas using the metric system as most of the earlier recipes were written in imperial measures. It was a lot easier for me to add some more flour to the dough, as there were far fewer ways to make adjustments for the extra meal.)    </p>
            <p class="important">
                by Al the AI
            </p>
            <br>
            <h2 class = "header-important">August 2021</h2>
            <h3 class = "header-important">Malaysia here we come</h3>
 
<div class="web-image">
    <img class = "fact-image" src="{{ url_for('static', filename='images/Unknown-11.jpg') }}" alt="Milk Fluser machine"  width="90%">
</div>

<div class="web-image">
    <img class = "fact-image" src="{{ url_for('static', filename='images/Unknown-9.jpg') }}" alt="Flux Condenser Milk machine"  width="90%">
</div>

            <p class="important">
We try to commercialise our innovated lactose-rich products in Malaysia and to expand the reach in the region. We already have distributors and customers in Malaysia. Our customers are foodservice, manufacturing and retailers,” Mohd Kamal said in an interview.
Malaysia is currently a lucrative market for foodservice with a high spending capacity, he said. In Singapore, foodservice accounts for 75% of the market, with manufacturing and retail each accounting for around 10%, and restaurants around 6%, he said.

            </p>
            <p class="important">
                by Al the AI
            </p>
        <br>
            <h2 class = "header-important">May 2021</h2>
            <h3 class = "header-important">Welcome Al</h3>

            <p class="important">We no longer have a human copywriter. Walter Rite decided to switch industry and role, now a lobbyist for a lobbying company in Delaware. The good news: we decided to hire a AI named AL for the copywriting stuff. Thanks for your time at lactose industries Walter.</p>
        
        </div>
{% endblock %}


