<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lactose industries</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
        <!--<link rel="stylesheet" href="style.css">-->
        
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <title>{% block title %}{% endblock %} - Lactose industries</title>
    {% endblock %}
</head>
<body>
    <header>
        <a href="/" class="logo">Lactose industries</a>
        <nav>
            <ul>
                <li><a href="/" class="cta">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/lab">Research lab</a></li>
            </ul>
        </nav>
    </header>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; 2023 by <a href="">Lactose industries LTD</a>.
        {% endblock %}
    </div>
</body>
</html>