{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}

    {{ super() }}

{% endblock %}
{% block content %}
<div class = "epsilon">
<h1 class = "header-important">Welcome authenticated fellow researcher!</h1>
<h2 class = "header-important">What you are looking for today is </h2><h2 class = "header-most_important">undut{Z2FybmEgaGFyIHVuZGVyIHRpZGVuIGthbGxhdHMgaW4gb2NoIGRvbSBhbmzDpG5kZX}</h2>
<div class="web-image">
    <img class = "fact-image" src="{{ url_for('static', filename='images/Unknown-8.jpg') }}" alt="Barracuda scientists" width="500">
</div>
</div>
{% endblock %}

