* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#gamecanvas {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}
